
/** Example rules used by the template application (remove for your app) */
html{
	height: 100%;
}
body{
	height: 100%;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#topDiv
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    min-width:1300px;
    width: 100%;
    height:9%;
	background-color: #666666;
	
    
}
#wrapper{


width: 100%;
overflow: hidden;
height: 100%;

}
#rightDiv
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    min-width:3000;
    width: 20%;
    height:50px;
	background-color: #999999;
	overflow: hidden;
	height: 90%;
    
}
#oryxDiv
{
	float: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    min-width:1000px;
    width: 80%;
    height:90%;
	background-color: #FF4500;
    
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
